.dashboard-view{
    -fx-spacing: 20;
    -fx-alignment: center;
}

.dashboard-card {
    -fx-background-color: white;
    -fx-background-radius: 12;

    -fx-border-color: #E2E8F0;
    -fx-border-radius: 12;

    -fx-padding: 20;

    -fx-min-width: 220;
    -fx-min-height: 120;

    /* shadowmvn jav */
    -fx-effect: dropshadow( 
        gaussian,
        rgba(0,0,0,0.08),
        10, 0, 0, 2
    );
}

.dashboard-card-row2 {
    -fx-background-color: white;
    -fx-background-radius: 12;

    -fx-border-color: #E2E8F0;
    -fx-border-radius: 12;

    -fx-padding: 20;

    -fx-min-width: 350;
    -fx-min-height: 120;

    /* shadowmvn jav */
    -fx-effect: dropshadow( 
        gaussian,
        rgba(0,0,0,0.08),
        10, 0, 0, 2
    );
}

.card-title{
    -fx-font-size: 14px;
    -fx-text-fill: #64748D;
}

.card-value{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #1E293B;
}

/* card */
.card-container{
    -fx-spacing: 20;
    -fx-alignment: center;
}

/* border card */
.income-card {
    -fx-border-color: #22C55E;
    -fx-border-width: 2;
}

.expense-card {
    -fx-border-color: #EF4444;
    -fx-border-width: 2;
}

.balance-card {
    -fx-border-color: #3B82F6;
    -fx-border-width: 2;
}

.transaction-card {
    -fx-border-color: #8B5CF6;
    -fx-border-width: 2;
}

.avenger-card{
    -fx-border-color: #F59E0B;
    -fx-border-width: 2;
}

/* CSS Bar Chart */
.chart{
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-color: #E2E8F0;
    -fx-border-radius: 12;
}

.chart .axis {
    -fx-tick-label-fill: #475569;
    -fx-tick-label-font-size: 13px;
}

.chart .axis-label {
    -fx-text-fill: #1E293B;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Perbesar judul chart */
.chart-title{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #1E293B;
}


/* == WARNA BAR CHART == */
.default-color0.chart-bar{
    -fx-bar-fill: #22C55E;
}

.default-color1.chart-bar{
    -fx-bar-fill: #EF4444;
}

.default-color2.chart-bar{
    -fx-bar-fill: #3B82F6;
}