.transaksi-view{
    -fx-spacing: 15;
    -fx-padding: 20;
}

.form-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #1E293B;
}

.from-input{
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color:  #CBD5E1;
    -fx-border-radius: 8px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

.from-combo{
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color:#CBD5E1;
    -fx-border-radius: 8px;
    -fx-font-size:14px;
}

.from-date{
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color:#CBD5E1;
    -fx-border-radius:8px;
}

.primary-button{
    -fx-background-color: #2563EB;
    -fx-pref-width: 140px;
    -fx-pref-height: 40px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight:bold;
    -fx-background-radius: 8px;
    -fx-padding:10px 20px;
}

.primary-button:hover{
    -fx-background-color: #1D4ED8;
}

.primary-button:pressed{ /* pressed = Terjadi saat Tombol sedang diklik Alias Mouse down*/
    -fx-background-color: #1E40AF;
}

.transaksi-table {
    -fx-background-color: white;
    -fx-border-color: #E2E8F0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-effect: dropshadow(  /* dropshadow() itu efek bayangan (shadow) di JavaFX CSS, supaya komponen terlihat sedikit "mengambang" dan tidak terlalu datar.  */
        gaussian, /* Jenis blur yang dipakai. Hasilnya halus dan natural.*/
        rgba(0,0,0,0.08),
        10,0,0,2
    );
}

.transaksi-table .column-header {
    -fx-background-color: #F8FAFC;
}

.transaksi-table .column-header .label{
    -fx-text-fill: #1E293B;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.transaksi-table .column-header{
    -fx-pref-height: 40px;
}

.transaksi-table .table-row-cell{
    -fx-cell-size: 40px; /*-fx-cell-size digunakan untuk mengatur tinggi setiap baris (row) pada komponen seperti TableView, ListView, dan TreeView.*/
}

.transaksi-table .table-row-cell:hover{
    -fx-background-color: #EFF6FF;
}

.transaksi-table .table-row-cell:selected { /*:selected itu kondisi ketika baris atau item sedang dipilih (selected) oleh user.*/
    -fx-background-color: #DBEAFE;
}

.transaksi-table .table-row-cell:selected .text {
    -fx-fill: #1E293B;
}

/* Form Card */
.form-card{
    -fx-background-color: white;
    -fx-background-radius: 12;

    -fx-border-color: #E2E8F0;
    -fx-border-radius: 12;

    -fx-padding: 20;
    -fx-spacing: 15;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.08),
        10,0,0,2
    );
}

/* Table Card */
.table-card{
    -fx-background-color: white;
    -fx-background-radius: 12;

    -fx-border-color: #E2E8F0;
    -fx-border-radius: 12;

    -fx-padding: 20;
    -fx-spacing: 15;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.08),
        10,0,0,2
    );
}

.transaksi-view{
    -fx-spacing: 20;
}

.empty-table-label{
    -fx-font-size: 14px;
    -fx-text-fill: #94A3B8;
}
/* scroll ui */
.transaksi-scroll{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.transaksi-scroll > .viewport{
    -fx-background-color: transparent;
}

/* === Alert tambah button === */
/* Alert Dialog */
.custom-alert{
    -fx-background-color: white;
    -fx-border-color: #E2E8F0;
    -fx-border-width: 1;
}

/* Isi pesan */
.custom-alert .content.label {
    -fx-text-fill: #1E293B;
    -fx-font-size: 14px;
}

/* tombol ok */
.custom-alert .button{
    -fx-background-color:  #2563EB;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

/* Hover tombol */
.custom-alert .button:hover {
    -fx-background-color: #1D4ED8;
}

/* Saat ditekan */
.custom-alert .button:pressed {
    -fx-background-color: #1E40AF;
}

/* === hapus button === */
.danger-button{
    -fx-background-color: #ef4444;
    -fx-text-fill: white;
    -fx-pref-width: 90px;
    -fx-pref-height: 40px;
    -fx-font-weight:bold;
    -fx-background-radius: 8px;
}

.danger-button:hover{
    -fx-background-color: #dc2626;
}

.danger-button:pressed{
    -fx-background-color: #b91c1c;
}

/* === alert hapus button === */
/* Confirmation Dialog */
.custom-confirm {
    -fx-background-color: white;
    -fx-border-color: #E2E8F0;
    -fx-border-width: 1;
}

/* Teks */
.custom-confirm .content.label {
    -fx-text-fill: #1E293B;
    -fx-font-size: 14px;
}

/* Tombol OK dan Cancel */
.custom-confirm .button {
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

/* Tombol Cancel */
.secondary-button{
    -fx-background-color: #E2E8F0;
    -fx-text-fill: #1E293B;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

.secondary-button:hover{
    -fx-background-color: #CBD5E1;
}

.secondary-button:pressed{
    -fx-background-color: #94A3B8;
}

/* === tombol edit === */
.edit-button{
    -fx-background-color: #F59E0B;
    -fx-text-fill: white;
    -fx-pref-width: 90px;
    -fx-pref-height: 40px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.edit-button:hover{
    -fx-background-color: #D97706;
}

.edit-button:pressed{
    -fx-background-color: #B45309;
}

/* Tombol Batal */
.cancel-button{
    -fx-background-color: #64748B;
    -fx-text-fill: white;
    -fx-pref-width: 90px;
    -fx-pref-height: 40px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.cancel-button:hover{
    -fx-background-color: #475569;
}

.cancel-button:pressed{
    -fx-background-color: #334155;
}

/* == search ==*/
.search-field{
    -fx-pref-height: 40px;
    -fx-font-size: 14;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 0 12 0 12;
}
